<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tansform words in realtime">
    <meta name="author" content="Wordsmith Inc">

    <link rel="apple-touch-icon" sizes="57x57" href="/src/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/src/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/src/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/src/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/src/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/src/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/src/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/src/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/src/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/src/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/src/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/src/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/src/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/src/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>
<body aurelia-app="main" id="page-top">
   
    <header class="splash">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Wordsmith Inc</h1>
                <hr>
                <i class="fa fa-spinner fa-spin"></i>
                <p class="text-faded">Just a moment please..</p>
            </div>
        </div>
    </header>

    <% if (htmlWebpackPlugin.options.metadata.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>


    
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
   
   
</body>
</html>
