<template>
    <section class="bg-primary" id="tryit">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div show.bind="output.length === 0 && !isFaulted">
                        <h2 class="section-heading">Very simple to use!</h2>
                        <hr class="light">
                        <p class="text-faded">Just enter your text below, and let us do our magic!</p>
                        <div class="form-group" show.bind="!isLoading">
                            <textarea class="form-control" rows="3" id="SentenceInput" value.bind="input" placeholder="Write your sentence here"></textarea>
                        </div>
                        <div show.bind="isLoading" class="spaceBelow">
                            <i class="fa fa-spinner fa-spin"></i>
                            <p class="text-faded">Just a moment please..</p>
                        </div>
                        <button show.bind="!isLoading" type="button" click.trigger="transformSentence()" id="TransformBtn" class="page-scroll btn btn-default btn-xl sr-button">Transform my sentence!</button>
                    </div>


                    <div show.bind="output.length !== 0 && !isFaulted">
                        <h2 id="TransformedSentence" class="section-heading">${output}</h2>
                        <hr class="light">
                        <p class="text-faded">It's that simple! Want another go? Just click the button below!</p>
                        <button type="button" click.trigger="resetSentence()" class="page-scroll btn btn-default btn-xl">Try again</button>
                    </div>

                    <div show.bind="isFaulted">
                        <h2 class="section-heading">Ooops</h2>
                        <hr class="light">
                        <p class="text-faded">Something went wrong :( we appologise for the inconveniance. Please try again</p>
                        <button type="button" click.trigger="resetSentence()" class="page-scroll btn btn-default btn-xl">Try again</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="popular">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Popular sentences</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" if.bind="statistics == null">
                <div class="col-lg-12 text-center">
                    <i class="fa fa-spinner fa-spin"></i>
                    <p>Just a moment please..</p>
                </div>
            </div>

            <div class="row" if.bind="statistics !== null">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Most popular</h3>
                        <div  repeat.for="popular of statistics.popularSentences">
                            <p class="text-muted">${popular}</p>
                            <hr />
                        </div>
                                             
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>
                        <h3>Most recent</h3>
                        <div repeat.for="recent of statistics.recentSentences">
                            <p class="text-muted">${recent}</p>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                        <h3>Total usage</h3>
                        <p class="text-muted">We have transformed a total of ${statistics.totalSentences} sentences.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want us to integrate with your services? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:contact@wordsmith.com">contact@wordsmith.com</a></p>
                </div>
            </div>
        </div>
    </section>

</template>
